body {
  font-family: Arial, Helvetica, sans-serif;
}

.subscribe-btn {
  color: white;
  background-color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 35px;
}

.is-subscribed {
  background-color: #f0f0f0;
  color: black;
}

.js-cost-input {
  font-size: 15px;
  padding: 10px;
}

.calculate-btn {
  background-color: green;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 12px 20px;
  cursor: pointer;
}