* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox-row {
    display: flex;
}

.flex-items-row {
    width: 180px;
    background-color: #f00;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.flex-items-row:first-child {
    background-color: #f08080;
}

.flex-items-row:last-child {
    background-color: #000;
}

.flexbox-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-items-row-reverse {
    width: 180px;
    background-color: #f00;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.flex-items-row-reverse:first-child {
    background-color: #f08080;
}

.flex-items-row-reverse:last-child {
    background-color: #000;
}