* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}

.flex-item {
    background-color: #800;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    width: 100px;
    order: 1;
}

.flex-item:first-child {
    background-color: #f08080;
    order: 2;
}

.flex-item:last-child {
    background-color: #000;
    order: -1;
}