* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content: space-between;
    align-items: start;
    align-content: start;
    height: 360px;
}

.flex-item {
    background-color: #800;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100px;
}

.flex-item:first-child {
    background-color: #f08080;
}

.flex-item:last-child {
    background-color: #000;
}